
<table class="table  table-striped table-hover table-condensed">
  <tr class="info">

    <th><%= sortable 'wmid', 'WMID' %></th>
    <th><%= sortable 'name', 'Имя' %></th>
    <th><%= sortable 'lvl', 'Бизнес уровень' %></th>
    <th><%= sortable 'date', 'Дата регистрации'%></th>
    <th><%= sortable 'att', 'Аттестат'%></th>
    <th><%= sortable 'review', 'Отзывы'%></th>
    <th></th>
  </tr>
  <% @persons.each do |p| %>
      <tr id="<%=p.id %>">

        <td> <%= p.wmid %></td>
        <td> <%= p.name %></td>
        <td> <%= p.lvl %></td>
        <td> <%= Russian::strftime(p.date , '%d %B %Y')%></td>
        <td class="text-capitalize"><a id="<%= p.attestate_id %>" class="att"><%=p.attestate.attname%></a></td>
        <% if p.review=='0/0' %>
            <td><%= p.review %></td>
        <% else %>
            <td ><a class="tip"> <%= p.review %><span class="classic"><%= Russian::strftime(p.rdate , '%d %B %Y') %></span></a></td>
        <%end%>
        <td><%= link_to 'Удалить', person_path(p), method: :delete, remote:true, class:'del' %></td>


      </tr>
  <%end%>
</table>
<%= will_paginate @persons%>